/* TEXT STYLES  */

.comment{
  font-family: 'Raleway', sans-serif;
  color: #AAAAAA;
  font-size: .9rem;
}

#person-email{
  font-family: 'Titillium Web', sans-serif;
}

.style-email{
  font-family: 'Titillium Web', sans-serif;
}

.style-widget-title{
  color:#DADADA;
}


/* For google calendar */
/* https://thomas.vanhoutte.be/miniblog/make-google-calendar-iframe-responsive/ */

.responsiveCal {
  position: relative; padding-bottom: 50%; height: 0; overflow: hidden;
}

.responsiveCal iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}



/*  */
/*  */
/*  */
