/* aboutme.html widget */

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 230px;
  height: 230px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#flip-moved-social-icons ul.social-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#flip-moved-social-icons .social-icon li {
  margin-right: 10px;
}

#flip-moved-social-icons .social-icon li:last-of-type {
  margin-right: 0;
}

#flip-moved-social-icons .social-icon li:hover {
  transform: scale(1.2)
}

#flip-moved-social-icons a{
  color: #AAAAAA;
}

#flip-moved-social-icons a:hover{
  color: #4caf50;
}
